/* line 8, tree.scss */
ul.tree, ul.tree ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
/* line 12, tree.scss */
ul.tree li, ul.tree ul li {
  line-height: 2em;
  padding-left: 40px;
  position: relative;
}
/* line 16, tree.scss */
ul.tree li:not(:last-child):before, ul.tree ul li:not(:last-child):before {
  content: "";
  position: absolute;
  left: 20px;
  height: 100%;
  border-left: 1px solid #ccc;
}
/* line 23, tree.scss */
ul.tree li:last-child:before, ul.tree ul li:last-child:before {
  content: " ";
  position: absolute;
  left: 20px;
  height: 1em;
  border-left: 1px solid #ccc;
}
/* line 30, tree.scss */
ul.tree li:after, ul.tree ul li:after {
  content: " ";
  position: absolute;
  top: 1em;
  left: 20px;
  width: 16px;
  border-bottom: 1px solid #ccc;
}
/* line 41, tree.scss */
ul.tree i.fa.fa-globe, ul.tree ul i.fa.fa-globe {
  color: royalblue;
}
/* line 44, tree.scss */
ul.tree i.fa.fa-map-marker, ul.tree ul i.fa.fa-map-marker {
  color: crimson;
}
